* {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100vw;
}

.pillars-container {
    height: 100%;
    width: 100%;
    background: url("./background-pillars.png") center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.pillar {
    height: 80%;
    width: 32%;
    background: url("./bright-pillar-off.png") center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

#pillar1 {
    left: 19%;
}
#pillar2 {
    left: 50%;
}
#pillar3 {
    left: 81%;
}

.bright-pillar {
    height: 80%;
    width: 32%;
    background: url("./bright-pillar.png") center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
}

/* POP UP */
.pillars-container .pop-up {
    height: 65vh;
    width: 60vw;
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 200;
  }
  .pillars-container .pop-up p {
    font-size: 1.7rem;
    width: 40vw;
  }
  .pillars-container .pop-up button {
    padding: 0.5rem 1.5rem;
    background-color: #343434;
    color: #fff;
    border: 1px solid #fff;
    font-size: 1.7rem;
    margin-top: 3.5rem;
  }
  .pillars-container .pop-up button:hover {
    background-color: #535353;
    /* box-shadow: inset 0px 0px 6px 0px #ffffffd7;   */
  }
  
  #win {
    display: none;
  }